<agm-map [latitude]="coordinationA.latitude" [longitude]="coordinationA.longitude">

  <agm-marker [latitude]="coordinationA.latitude" [longitude]="coordinationA.longitude"></agm-marker>

  <div *ngIf="isCoordinationBExist">
    <agm-marker [latitude]="coordinationB.latitude" [longitude]="coordinationB.longitude"></agm-marker>
    
    <agm-polyline *ngIf="isPolylineExist" >
      <agm-polyline-point [latitude]="coordinationA.latitude" [longitude]="coordinationA.longitude"></agm-polyline-point>
      <agm-polyline-point [latitude]="coordinationB.latitude" [longitude]="coordinationB.longitude"></agm-polyline-point>
    </agm-polyline>
  </div>
 
</agm-map>