<agm-map [latitude]="userLatitude" [longitude]="userLongitude">

  <agm-marker [latitude]="userLatitude" [longitude]="userLongitude"></agm-marker>
  <agm-marker [latitude]="airportLatitude" [longitude]="airportLongitude"></agm-marker>

  <agm-polyline>
    <agm-polyline-point [latitude]="userLatitude" [longitude]="userLongitude"></agm-polyline-point>
    <agm-polyline-point [latitude]="airportLatitude" [longitude]="airportLongitude"></agm-polyline-point>
  </agm-polyline>
</agm-map>

<h3 >Odległość w lini prostej: ~ {{distanceBeetwenAB | number:'1.0-2'}} km.</h3>