<div class="text-center">
    <h1>Wyszukiwarka lotnisk</h1>
</div>  
<div class="row">
  <div class="col">
        
    <div class="form-group">
      <label for="byCountry">Według kraju:</label>
      <select [(ngModel)]="selectedCountry" class="form-control" id="byCountry">
        <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
      </select>
      <br />
      <button *ngIf="selectedCountry" class="btn btn-primary btn-block" (click)="viewAirportsByCountry(selectedCountry)">Wyświetl</button>  
    </div>

    <div class="form-group">
      <label for="byIsoCountry">Według iso kraju:</label>
      <select [(ngModel)]="selectedIsoCountry" class="form-control" id="byIsoCountry">
        <option *ngFor="let country of countries" [ngValue]="country.isoCountryCode">{{country.isoCountryCode}}</option>
      </select>
      <br />
      <button *ngIf="selectedIsoCountry" class="btn btn-primary btn-block" (click)="viewAirportsByIsoCountry(selectedIsoCountry)">Wyświetl</button>
    </div>

    <div class="form-group">
      <label for="byAirportCode">Według kodu lotniska:</label>
      <select [(ngModel)]="selectedAirportCode" class="form-control" id="byAirportCode">
        <option *ngFor="let airportBd of airportsBd" [ngValue]="airportBd.code">{{airportBd.code}}</option>
      </select>
      <br />
      <button *ngIf="selectedAirportCode" class="btn btn-primary btn-block" (click)="viewAirportsByAirportCode(selectedAirportCode)">Wyświetl</button>
    </div>

    <div class="form-group">
      <label for="byAirportName">Według nazwy lotniska:</label>
      <select [(ngModel)]="selectedAirportName" class="form-control" id="byAirportName">
        <option *ngFor="let airportBd of airportsBd" [ngValue]="airportBd.name">{{airportBd.name}}</option>
      </select>
      <br />
      <button *ngIf="selectedAirportName" class="btn btn-primary btn-block" (click)="viewAirportsByAirportName(selectedAirportName)">Wyświetl</button>
    </div>

  </div>
  <div class="col">   
      <br />
      <maps-component *ngIf="showMaps" [coordinationA]="actualLocalization" [coordinationB]="airportLocalization" [isCoordinationBExist]="true" [isPolylineExist]="true"></maps-component>    
      <h3 *ngIf="showMaps" >Odległość w lini prostej: ~ {{distanceBeetwenAB | number:'1.0-2'}} km.</h3>    
  </div>
</div>

<div *ngIf="showAirports">
  <div class="content-section implementation">
    <p-dataTable [value]="airports.airport"[rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" tableStyleClass="prime-table">
      <p-column field="airportCode" header="Kod"></p-column>
      <p-column field="cityOrAirportName" header="Nazwa"></p-column>
      <p-column field="country" header="Kraj"></p-column>
      <p-column field="countryAbbrviation" header="ISO kraju"></p-column>
      <p-column field="countryCode" header="Kod kraju"></p-column>
      <p-column field="gmtOffset" header="Strefa czasowa"></p-column>
      <p-column field="runwayLengthFeet" header="Pas startowy [m]"></p-column>
      <p-column field="runwayElevationFeet" header="Wysokość n.p.m."></p-column>
      <p-column field="airportCode" header="Kod"></p-column>
      <p-column header="Szerokość geo">
        <ng-template let-col let-airport="rowData" pTemplate="body">
          {{airport.latitudeNpeerS}} {{airport.latitudeDegree}}° {{airport.latitudeMinute}}' {{airport.latitudeSecond}}"          
        </ng-template>        
      </p-column>
      <p-column header="Długość geo">
        <ng-template let-col let-airport="rowData" pTemplate="body">
          {{airport.longitudeEperW}} {{airport.longitudeDegree}}° {{airport.longitudeMinute}}' {{airport.longitudeSeconds}}"         
        </ng-template>        
      </p-column>
      <p-column styleClass="col-button">        
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-airport="rowData" pTemplate="body">
            <button type="button" pButton (click)="showDistanceOnMap(airport)" icon="fa-search"></button>
        </ng-template>
      </p-column>
      
    </p-dataTable>
  </div>
  <br /><br /><br />
  
</div>
